<h2>Welcome to the WasteLand</h2>
  <form method="GET" action="/">
    <input type="search" name="query" />
    <button>Search</button>
  </form>
  <section>
    <h1>Dystopian Locations</h1>
    <ul>
      <div class="accordion-class">
      <% locations.each do |location| %>
        <h2><li><%= location.name %></li><h2>
          <ul>
            <div class="accordion-class">
            <% location.subnets.each do |subnet| %>
              <h3><li><%= subnet.network %></li></h3>
                <table id="subnet_table">
                  <form method="POST" action="/ipam/save">
                  <tr>
                    <th>IP Address</th>
                    <th>DNS Name</th>
                    <th>Status</th>
                    <th>Comments</th>
                    <th><button>Save</button>
                    </th>
                  </tr>
                  <% subnet.ip_addresses.each do |ip| %>
                    <tr>
                      <td><%=ip.address%></td>
                      <td><%=ip.dns_name%></td>
                      <td>
                        <select name="ipam[<%=ip.id%>][status]" id="status" disabled>
                          <option value=<%=ip.status%> selected="selected"><%=ip.status%></option>
                          <option value="Used">Used</option>
                          <option value="Free">Free</option>
                          <option value="Reserved">Reserved</option>
                        </select>
                      </td>
                      <td><input type="text" name="ipam[<%=ip.id%>][comments]" id="comments" value=<%=ip.comments%> disabled></td>
                      <td><input class="checkbox" type="checkbox">Edit</td>
                    </tr>
                  <% end %>
                  </form>
                </table>
            <% end %>
            </div>
          </ul>
      <% end %>
    </div>
    </ul>
  </section>
