<h2>Welcome to IPAM</h2>
  <form method="GET" action="/">
    <input type="search" name="query" />
    <button>Search</button>
  </form>
  <section>
    <!--Ok thinking about twitter bootstrap
      Also working on js so every table doesn't post to params
    -->
    <strong>Dystopian Locations</strong>
    <ul>
      <% locations.each do |location| %>
        <li><%= location.name %></li>
          <ul class="accordion">
            <% location.subnets.each do |subnet| %>
              <li id="subnet"><strong><%= subnet.network %></strong></li>
                <table id="subnet_table">
                  <tr>
                    <th>IP Address
                      <form method="GET" action="/">
                        <input type="search" name="query" />
                        <button>Search</button>
                      </form>
                    </th>
                    <th>DNS Name
                      <form method="GET" action="/">
                        <input type="search" name="query" />
                        <button>Search</button>
                      </form>
                    </th>
                    <th>Status
                      <form method="GET" action="/">
                        <input type="search" name="query" />
                        <button>Search</button>
                      </form>
                    </th>
                    <th>Comments
                      <form method="GET" action="/">
                        <input type="search" name="query" />
                        <button>Search</button>
                      </form>
                    </th>
                  </tr>
                  <form method="POST" action="/ipam/save">
                  <tr>
                    <th>IP Address</th>
                    <th>DNS Name</th>
                    <th>Status</th>
                    <th>Comments</th>
                    <th><button>Save</button>
                    </th>
                  </tr>
                  <% subnet.ip_addresses.each do |ip| %>
                    <tr>
                      <td><%=ip.address%></td>
                      <td><%=ip.dns_name%></td>
                      <td>
                        <select name="ipam[<%=ip.id%>][status]" id="status">
                          <option value=<%=ip.status%> selected="selected"><%=ip.status%></option>
                          <option value="Used">Used</option>
                          <option value="Free">Free</option>
                          <option value="Reserved">Reserved</option>
                        </select>
                      </td>
                      <td><input type="text" name="ipam[<%=ip.id%>][comments]" id="comments" value=<%=ip.comments%>></td>
                      <td></td
                    </tr>
                  <% end %>
                  </form>
                </table>
            <% end %>
          </ul>
      <% end %>
    </ul>
  </section>
